<h1>Author Show Page</h1>

<section id="author">
  <%= @author.name %>
    <div id=delete-author>
      <%= link_to "Delete Author", @author, method: :delete %>
    </div>
</section>
<br>
<section id="authors-books">
  <% @books.each_with_index do |book, index| %>
  <div id=<%="book-pair-#{index+1}"%>>
    <%= render book, author: @author  %>
    <%= render book.sort_reviews(:desc, 1) %>

  </div>
  <br><br>
  <br><br>
  <% end %>
</section>
