<h1>Author Show Page</h1>

<section id="author-info">
  <li><%= @author.name %><li>
</section>

<section id="authors-books">
    <% @books.each do |book| %>
    

  <div id=<%= "book-#{book.id}" %>>
      <h3><%= book.title %></h3>
      <ul>
        <li>Pages: <%= book.pages %></li>
        <li>Year of Publication: <%= book.year %></li>
        <% if book.co_authors(@author).length > 0 %>
          <li>Co-Authors: <%= book.co_authors(@author).join(", ") %></li>
        <%end%>
      </ul>
    <% end %>
  </div>
</section>
