<div id = <%="book-card-#{book.id}"%> >
  <div id = book-title >
    <% if defined?(book_show_page)== nil %>
    <%= link_to book.title, book_path(book.id) %>
    <% else %>
    <%= book.title %>
    <% end %>
  </div>
    <div id = book-pages>Pages: <%= book.pages %></div>
    <div id = book-year>Year of Publication: <%= book.year %></div>
    <div id = book-cover><img src = <%=book.cover%>></div>
    <div id = author-info>
      <% if defined?(author)== nil %>
      By:
      <%= render book.authors %>
      <%elsif book.co_authors(author) != []%>
      With:
      <%= render book.co_authors(author) %>
      <%end%>
    </div>
      <div id = book-stats>
        Average Rating: <%= book.average_rating.round(2) %>
        Total Reviews: <%= book.total_reviews %>
      </div>
    <%= link_to 'New Review', new_book_review_path(book) %>
</div>
