<h1>Book Club</h1>

<section id='statistics'>
  <div id='best-books'>
    <p>Best Books</p>
    <% @top_books.each do |book| %>
    <li><%= render 'application/book_stub', book: book %></li>
    <% end %>
  </div>
  <div id='worst-books'>
    <p>Worst Books</p>
    <% @worst_books.each do |book| %>
    <li><%= render 'application/book_stub', book: book %></li>
    <% end %>
  </div>
  <div id='top-reviewers'>
    <p>Top Reviewers</p>
    <% @top_reviewers.each do |user| %>
    <li><%= user.user %> - <%= user.review_count %></li>
    <% end %>
  </div>
</section>

<section id='sorting'>
  <div id='rating-sort'>
    <%= link_to 'Best Rated', books_path(sort: :sort_avg_reviews, direction: :desc) %>
    <%= link_to 'Worst Rated', books_path(sort: :sort_avg_reviews, direction: :asc) %>
  </div>
  <div id='page-sort'>
    <%= link_to 'Most Pages', books_path(sort: :sort_pages, direction: :desc) %>
    <%= link_to 'Fewest Pages', books_path(sort: :sort_pages, direction: :asc) %>
  </div>
  <div id='review-sort'>
    <%= link_to 'Most Reviews', books_path(sort: :sort_num_reviews, direction: :desc) %>
    <%= link_to 'Fewest Reviews', books_path(sort: :sort_num_reviews, direction: :asc) %>
  </div>
</section>

<%= link_to 'Add Book', new_book_path %>

<section id ='all-books'>
    <%= render @books %>
</section>
