<%= form_for @book do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Author(s)" %>
    <%= f.text_field :author_names %>
  </p>
  <p>
    <%= f.label :pages %>
    <%= f.number_field :pages %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.number_field :year %>
  </p>
  <p>
    <%= f.label :cover %>
    <%= f.text_field :cover %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
