<%= form_for @book do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Author(s)" %>
<<<<<<< HEAD
    <%= f.text_field :author_names %>
=======
    <%= f.text_field :authors %>
>>>>>>> master
  </p>
  <p>
    <%= f.label :pages %>
    <%= f.number_field :pages %>
  </p>
  <p>
<<<<<<< HEAD
    <%= f.label :year %>
    <%= f.number_field :year %>
  </p>
  <p>
=======
>>>>>>> master
    <%= f.label :cover %>
    <%= f.text_field :cover %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
