<h1>Book Show Page</h1>

<section id=book-info>
<%= render "book_card", book: @book %>
</section>
<section id=reviews>
  <% @reviews.each do |review| %>
  <ul id = <%="review-#{review.id}"%>>
    <li><%= review.title %></li>
    <li><%= review.text %></li>
    <li><%= review.rating %></li>
    <li><%= review.user %></li>
  </ul>
  <%end%>

</section>
