<h1>Book Show Page</h1>

<section id=book-info>
  <ul>
    <li><%= @book.title %><li>
    <li>Author(s): <%= @book.authors %><li>
    <li>Pages: <%= @book.pages %><li>
    <li>Year of Publication: <%= @book.year %><li>
    <li><img src="<%= @book.cover %>"><li>
  </ul>
</section>
