<div id = <%="review-#{review.id}"%>>
  <ul>
    <li>
      <div id = title>
        <%= review.title %>
      </div>
    </li>
    <li><%= review.text %></li>
    <li><%= review.rating %></li>

    <li>
      <a href = <%=reviews_path(user: review.user)%> >
        <%= review.user %>
      </a>
    </li>
  </ul>
</div>
