<div id = <%="review-#{review.id}"%>>
      <div id = title>
        <%=review.title %>
      </div>

      <div id = text>
        <%= review.text %>
      </div>

      <div id = rating>
        <%= review.rating %>
      </div>

      <div id = "created">
        <%= review.created_at %>
      </div>
      <% if defined?(show) == nil %>
        <%= render 'application/user', user:review.user %>
      <% end %>

      <div id = 'delete-review'>
        <%= link_to "Delete", review, method: :delete %>
      </div>

</div>
