<div id = <%="review-#{review.id}"%>>
  <ul>
    <li>
      <div id = title>
        <%=review.title %>
      </div>
    </li>
    <li>
      <div id = text>
        <%= review.text %>
      </div>
    </li>
    <li>
      <div id = rating>
        <%= review.rating %>
      </div>
    </li>
    <li>
      <% if defined?(show) == nil %>
        <%= render 'application/user', user:review.user %>
      <% end %>
    </li>

  </ul>
</div>
