<%=@user_name%>
<%= link_to "Oldest First", reviews_path(user:@user_name, direction: :asc)%>
<%= link_to "Newest First", reviews_path(user:@user_name, direction: :desc)%>

<% @reviews.each_with_index do |review, index|%>
  <div id=review-pair-<%=index+1%>>
    <%= render review, show: true %>
    <%= render review.book %>
  </div>
<%end%>
