<h1>Add New Review</h1>

<%= form_for @review do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :user %>
  <%= f.text_field :user %>
</p>
<p>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
</p>
<p>
  <%= f.label :text %>
  <%= f.text_area :text %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
