<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav id='nav-bar'>
      <img src="https://www.guildofstudents.com/asset/Organisation/6275/Book%20club%20logo.jpg?thumbnail_width=372&thumbnail_height=372&resize_type=CropToFit" width="30" height="30" class="d-inline-block align-top" alt="">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home Page <span class="sr-only"</span></a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">All Books</a> -->
          <%= link_to 'All Books', books_path %>
        </li>
      </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
